




{% block content %}
<table class="ui celled table">
			<thead>
				<tr>
					<th><h3 class="ui header">Frameworks I've Learned</h3></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<a target="_blank" href="https://angularjs.org/">AngularJS</a>
					</td>
				</tr>
				<tr>
					<td>
						<a target="_blank" href="http://www.tornadoweb.org/en/stable/">Tornado</a>
					</td>
				</tr>
				<tr>
					<td>
						<a target="_blank" href="https://laravel.com/">Laravel</a>
					</td>
				</tr>
				<tr>
					<td>
						<a target="_blank" href="http://semantic-ui.com/">Semantic UI</a>
					</td>
				</tr>
				<tr>
					<td>
						<a target="_blank" href="https://www.djangoproject.com/">Django</a>
					</td>
				</tr>
				<tr>
					<td>
						<a target="_blank" href="http://www.web2py.com/">Web2py</a>
					</td>
				</tr>
				<tr>
					<td>
						<a target="_blank" href="https://www.arduino.cc">Arduino</a>
					</td>
				</tr>
				<tr>
					<td>
						<a target="_blank" href="https://www.raspberrypi.org/documentation/usage/gpio/">Raspbery PI GPIO</a>
					</td>
				</tr>
				<tr>
					<td>
						<a target="_blank" href="http://gulpjs.com/">Gulp</a>
					</td>
				</tr>
				<tr>
					<td>
						<a target="_blank" href="https://www.browsersync.io/">Browser Sync</a>
					</td>
				</tr>
				<tr>
					<td>
						<a target="_blank" href="http://foundation.zurb.com/sites/docs/panini.html">Panini</a>
					</td>
				</tr>
				<tr>
					<td>
						<a target="_blank" href="http://compass-style.org/">Compass</a>
					</td>
				</tr>
				<tr>
					<td>
						<a target="_blank" href="https://jquery.com/">JQuery</a>
					</td>
				</tr>
				<tr>
					<td>
						<a target="_blank" href="https://datatables.net/">Data Tables</a>
					</td>
				</tr>
				<tr>
					<td>
						<a target="_blank" href="http://foundation.zurb.com/">Foundation</a>
					</td>
				</tr>
				<tr>
					<td>
						<a target="_blank" href="getbootstrap.com/">Bootstrap</a>
					</td>
				</tr>
				<tr>
					<td>
						<a target="_blank" href="https://www.microsoft.com/en-us/download/details.aspx?id=23714">XNA</a>
					</td>
				</tr>
				<tr>
					<td>
						<a target="_blank" href="http://www.nvidia.com/object/cuda_home_new.html">CUDA</a>
					</td>
				</tr>
				<tr>
					<td>
						<a target="_blank" href="https://www.codeigniter.com/">Codeigniter</a>
					</td>
				</tr>
				<tr>
					<td>
						<a target="_blank" href="https://www.qt.io">QT</a>
					</td>
				</tr>
				<tr>
					<td>
						<a target="_blank" href="https://wordpress.com/">WordPress</a>
					</td>
				</tr>
				<tr>
					<td>
						<a target="_blank" href="https://developer.android.com/studio/index.html">Android</a>
					</td>
				</tr>
				<tr>
					<td>
						<a target="_blank" href="www.boost.org/">Boost</a>
					</td>
				</tr>
				<tr>
					<td>
						<a target="_blank" href="https://projects.spring.io/spring-framework/">Spring</a>
					</td>
				</tr>
				<tr>
					<td>
						<a target="_blank" href="http://hibernate.org">Hibernate</a>
					</td>
				</tr>
			</tbody>
		</table>
{% endblock %}