




{% block content %}
<h2 class="ui green centered header">Experience</h2>
			


<div class="ui stacked fluid segment">
	<table class="ui celled table">
		<thead>
			<tr>
				<th><h3 class="ui header">Cloud Security Tools Engineer</h3></th>
				<th>June 2015 - Present</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="ui green ribbon label">Autodesk</div>
				</td>
				<td>San Francisco, CA</td>
			</tr>
			<tr>
				<td>
					<ul>
						<li>Integration of storage systems, including (but not limited to) MySQL, MongoDB, LDAP/AD into Python/PHP server side controllers</li>
						<li>Responsible for Use Case gathering for project plans</li>
						<li>Building out JSON based APIs for use with AngularJS and QlikView front ends</li>
						<li>Developing Semantic UI/Foundation/Bootstrap UI/UX layouts for 5 seperate projects</li>
						<li>Leveraged AngularJS to build out client side ticket analytics tools</li>
					</ul>
				</td>
				<td><p>Leveraged Open Source frameworks to create reporting tools which helped inform the management team of possible areas of improvement. As I rapidly developed more than 5 apps within a year I gained more new skills at this job than I can list. I also have strongly honed in my goals as a developer since working with Autodesk</p></td>
			</tr>
		</tbody>
	</table>
</div>





<div class="ui stacked fluid segment">
	<table class="ui celled table">
		<thead>
			<tr>
				<th><h3 class="ui header">Co-Founder</h3></th>
				<th>December 2013 - Present</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="ui green ribbon label">GrowBotix</div>
				</td>
				<td>Chandler, AZ</td>
			</tr>
			<tr>
				<td>
					<ul>
						<li>Hybrid MongoDB/MySQL data storage integration allowing for mass Microservices configuration</li>
						<li>Designing/Building of Embedded hardware JSON Message interface on top of RabbitMQ allowing for reading of data and interaceing with hardware physical space</li>
						<li>Open Source Python Based Arduino Project revival, restructure, and absorbtion</li>
						<li>Active tutoring and lecturing of peers on company and workload structure, design, implementation, plans, and goals</li>
						<li>Designing/Building of Django Channels Web Socket cloud based Microservices connecting users to their systems at their home/farm</li>
						<li>Designing/Building of AngularJS SPA for monitoring and analytics of fruit/vegetable physical environment</li>
						<li>Designing/Building of Wireless Mesh Network allowing connection of embedded hardware across large distances</li>
						<li>Designing/Building of Event integration between Microservices at site and online allowing for notifcation of failed physical systems</li>
						<li>Historical tracking and reporting through hybrid MongoDB/MySQL storage systems allowing farmers to legitmize their organic farms in the eyes of the FDA</li>
					</ul>
				</td>
				<td><p>Designed an interface and api system which would allow for embedded hardware to create data to analyze and improve agricultural industries. This design is currently being turned into a prototype to gather feedback for bringing a community driven product to market. This will require our team to properly establish, and manage a community whilst still progressing on the digital assets that we need. When completed our product will vastly drop the barrier to entry for growing fruits and vegetables, as well as revolutionize Big Agriculture.</p></td>
			</tr>
		</tbody>
	</table>
</div>





<div class="ui stacked fluid segment">
	<table class="ui celled table">
		<thead>
			<tr>
				<th><h3 class="ui header">Network Operations Center Engineer</h3></th>
				<th>May 2014 - June 2015</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="ui green ribbon label">Phoenix NAP</div>
				</td>
				<td>Phoenix, AZ</td>
			</tr>
			<tr>
				<td>
					<ul>
						<li>Configuration of network interfaces of Hardware Firewalls, Operating Systems, and Network Switches including (but not limited to): OpenSUSE, Ubuntu, Debian, BSD, CentOS, Arch, Brocade, Dell Sonic Wall</li>
						<li>Active troubleshooting of browser updates breaking UI/UX of clientel web apps</li>
						<li>Infrastructure installation/configuration including (but not limited to) datacenter hardware, operating systems, firewalls, varnish cache services, LAMP stack, CPanel/Plesk control panels</li>
						<li>client LAMP stack infrastructure migration onto updated hardware and operating systems.</li>
					</ul>
				</td>
				<td><p>Helped to ensure the company websites stability, internal tools stability, and troubleshooting client infrastructures. In many cases our client's infrastructure had over 3000 active web sessions at any given moment which I helped to troubleshoot.</p></td>
			</tr>
		</tbody>
	</table>
</div>






<div class="ui stacked fluid segment">
	<table class="ui celled table">
		<thead>
			<tr>
				<th><h3 class="ui header">Full Stack Engineer</h3></th>
				<th>December 2013 - April 2014</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="ui green ribbon label">Consultant</div>
				</td>
				<td>Phoenix, AZ</td>
			</tr>
			<tr>
				<td>
					<ul>
						<li>Tutoring of both peers and clientel of programming concepts, principles, languages and frameworks in Java, Python and HTML/CSS/JS</li>
						<li>WordPress Plugins allowing integration of Foundation, Real Estate Listings, Asset Management, and brand UI/UX</li>
						<li>Design/Build a JSON API and Admin interface for a coupon and event share mobile app</li>
						<li>Day to Day client aquisition and maintenance duties</li>
						<li>Migration of Client infrastructure from Microsoft to Google services including (but not limited to) emails attatchments, calendar apointments, and browser bookmarks</li>
						<li>Refreshing of client technology infrastructure both in office and online. Operating System Refreshes, Workstation optimizations, etc.</li>
					</ul>
				</td>
				<td><p>Located and secured contracts requiring major back end and minor front-end work. My skills as a full stack engineer were again increased by this job bringing SEO, contract management, and requirements gathering to the table.</p></td>
			</tr>
		</tbody>
	</table>
</div>





<div class="ui stacked fluid segment">
	<table class="ui celled table">
		<thead>
			<tr>
				<th><h3 class="ui header">Full Stack Engineer</h3></th>
				<th>Febuary 2012 - December 2013</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="ui green ribbon label">CookWheelWrightGroup</div>
				</td>
				<td>Chandler, AZ</td>
			</tr>
			<tr>
				<td>
					<ul>
						<li>Configuration of both clientel and business LAMP stack</li>
						<li>Management of taking client approved site mock ups and converting into pixel perfect responsive websites</li>
						<li>Assessment of client goals and expectations to determine deadlines, goals, expectations, and prices of client contracts</li>
						<li>Client communication and management to maintain contract during progression of projects</li>
						<li>Integration of Javascript Frameworks to allow for improved UI/UX based on mock ups</li>
					</ul>
				</td>
				<td><p>Aided in establishing brands for small businesses by building out emails, websites, and online assets. Responsive Design, WordPress Programming, JavaScript Programming, and System Administration being used on a daily basis established me as a full stack engineer.</p></td>
			</tr>
		</tbody>
	</table>
</div>

{% endblock %}