




{% block content %}
<table class="ui celled table">
	<thead>
		<tr>
			<th><h3 class="ui header">Skills</h3></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				MVC Expertise
			</td>
		</tr>
		<tr>
			<td>
				Responsive UI
			</td>
		</tr>
		<tr>
			<td>
				Web Sockets
			</td>
		</tr>
		<tr>
			<td>
				JSON/REST APIs
			</td>
		</tr>
		<tr>
			<td>
				Full Web Stack Programming
			</td>
		</tr>
		<tr>
			<td>
				Security Driven Code
			</td>
		</tr>
		<tr>
			<td>
				Passionate about Coding Standards and Paradigms
			</td>
		</tr>
	</tbody>
</table>
{% endblock %}