<div class="blue card">
	<div class="image">
		<img src="{{root}}img/elysiumhome.png">
	</div>
	<div class="content">
		<div class="header">Elysium Home</div>
			<div class="meta">
				<a>Supported/Fixed Others Mistakes</a>
			</div>
			<div class="description">
				Trained a fellow contractor in API integration by fixing a broken API after a host update on the website.
			</div>
	</div>
	<div class="extra content">
		A friend of mine was redoing a clients website and was unable to interface with the API to pull property listings. The code itself was written in php, and was using XML to gather responses from the server. I helped to show him how integrating with APIs is done, so he culd leverage it on his own in the future. <a href="http://www.elysiumhome.com/">click here to view the site.</a>
	</div>
</div>