<div class="blue card">
	<div class="image">
		<img src="{{root}}img/spyro.jpg">
	</div>
	<div class="content">
		<div class="header">Spyro Math Tutor</div>
			<div class="meta">
				<a>First Time Teaching</a>
			</div>
			<div class="description">
				My mothers best friend had a young daughter who was learning math in school, having troubles, and loved to get distracted with her Spyro Video game. I built a web app that would give her math questions and display a random quote and a random image of Spyro to keep her interested.
			</div>
	</div>
	<div class="extra content">
		This was my first time that code was involved with teaching somebody else how to do something. As I was very young the app itself was not even using jQuery to get the client side logic taken care of. The server that this ran off of was in my bedroom as a kid.
	</div>
</div>