<div class="blue card">
	<div class="image">
		<img src="{{root}}img/bpa.jpg">
	</div>
	<div class="content">
		<div class="header">Business Professionals of America Competition</div>
			<div class="meta">
				<a>Scholarships</a>
			</div>
			<div class="description">
				This was my first time having my code reviewed by people who work with websites on a daily basis. I managed to evoke a jaw drop from the judge with my (already) in depth knowledge of javascript.
			</div>
	</div>
	<div class="extra content">
		Business Professionals of America is a national company which holds competitions for high school kids to compete and get experience of taking part in the various industries we were interested in. This gave me my first chance to write code with a team, compete against others code, and have code reviewed.
	</div>
</div>