<div class="blue card">
	<div class="image">
		<img src="{{root}}img/avnet-patch-panel.jpg">
	</div>
	<div class="content">
		<div class="header">Avnet Tech Games</div>
			<div class="meta">
				<a>Scholarships</a>
			</div>
			<div class="description">
				Won numerous scholarships after competing against others in a game of networking as well as in windows OS cleaning/optimizing. Winner 2010,2011,2013
			</div>
	</div>
	<div class="extra content">
		Avnet is a hardware vendor that holds competitions for skills relating to the IT industry. I competed in building an android app that would function as the only game piece needed for a game of charades. I also competed multiple times in a patch panel configuration and computer cleaning/optmizing competition.
	</div>
</div>