<div class="green card">
	<div class="image">
		<img src="{{root}}img/growbotix_icon.jpg">
	</div>
	<div class="content">
		<div class="header">Growbotix</div>
			<div class="meta">
				<a>Personal</a>
			</div>
			<div class="description">
				Growbotix is built on a community of Farmers. We have built a digital interface to monitor the physical world that our users have invested in so heavily.
				<a href="/projects/ziptopia.html" class="ui animated fluid inverted green fade button" tabindex="0">
					<div class="visible content">more info</div>
					<div class="hidden content">
						<i class="down arrow icon"></i>go to the page
					</div>
				</a>
			</div>
	</div>
	<div class="extra content">
		An IoT based company that leverages open source hardware and microservices to interface with the real world. Through the digitization of the food growing process we can not only monitor and document it, but we can improve and theorize on it. 
	</div>
</div>