<div class="blue card">
	<div class="image">
		<img src="{{root}}img/growbotix_icon.jpg">
	</div>
	<div class="content">
		<div class="header">Elysium Home</div>
			<div class="meta">
				<a>Supported/Fixed Others Mistakes</a>
			</div>
			<div class="description">
				Fixed an XML API after website updates.
			</div>
	</div>
	<div class="extra content">
		A friend of mine was redoing a clients website and was unable to interface with the API to pull property listings. The code itself was written in php, and was using XML to gather responses from the server. <a href="http://www.elysiumhome.com/">click here to view the site.</a>
	</div>
</div>