<div class="blue card">
	<div class="image">
		<img src="{{root}}img/growbotix_icon.jpg">
	</div>
	<div class="content">
		<div class="header">Internal Team Website</div>
			<div class="meta">
				<a>Autodesk Related</a>
			</div>
			<div class="description">
				Created the equivelant of a service marketing website for interla use amongst Autodesk.
			</div>
	</div>
	<div class="extra content">
		This website acts as a base point for the cloud security team of Autodesk to get information about themselves out to fellow employees.
	</div>
</div>