<div class="blue card">
	<div class="image">
		<img src="{{root}}img/12-1-5.jpg">
	</div>
	<div class="content">
		<div class="header">Twelve One Five</div>
			<div class="meta">
				<a>Client - Team Member</a>
			</div>
			<div class="description">
				A friend was building out a highly customized wordpress theme and needed the php code that would integrate his requirements into WordPress. This allowed him to ensure that each type of image was displayed in the right place, and in the right order. 
			</div>
	</div>
	<div class="extra content">
		A good friend of mine and I took on a client together as he needed somebody who would be able to program custom plugins for wordpress. As I had plenty of experience, I was able to build out the needed logic to create and manage the flow of the assets accross the site. <a href="http://twelveonefive.com/">click here to view the site</a>
	</div>
</div>