<div class="blue card">
	<div class="image">
		<img src="{{root}}img/growbotix_icon.jpg">
	</div>
	<div class="content">
		<div class="header">Ziptopia</div>
			<div class="meta">
				<a>Interview Related</a>
			</div>
			<div class="description">
				Data Mining an autonomous car simulation.
				<a class="ui animated fluid inverted blue fade button" tabindex="0">
					<div class="visible content">more info</div>
					<div class="hidden content">
						<i class="down arrow icon"></i>Click or scroll down.
					</div>
				</a>
			</div>
	</div>
	<div class="extra content">
		Taking a coding challenge a little too far in the interest of collecting too much data. I want to see just how well I can handle millions of datapoints on my own.
	</div>
</div>