<div class="blue card">
	<div class="image">
		<img src="{{root}}img/growbotix_icon.jpg">
	</div>
	<div class="content">
		<div class="header">Two Americans</div>
			<div class="meta">
				<a>Client - Self Managed</a>
			</div>
			<div class="description">
				Created and helped manage the marketing of an independent film.
			</div>
	</div>
	<div class="extra content">
		Through a friend I got in touch with a new client that needed an entire site built. I built the site in wordpress and helped to create the brand image using Foundation. <a href="http://www.twoamericans.com/">Click here to view the site.</a>
	</div>
</div>