<div class="green card">
	<div class="image">
		<img src="{{root}}img/growbotix_icon.jpg">
	</div>
	<div class="content">
		<div class="header">Growbotix</div>
			<div class="meta">
				<a>Personal</a>
			</div>
			<div class="description">
				Making the world a better place by changing the way the world thinks about where it gets its food. Our products would lead to the systematic destruction of non-sustainable big agriculture practices by making the healthier way the cheaper and easier way.
			</div>
	</div>
	<div class="extra content">
		An IoT based company that leverages open source hardware to interface, digitaly, with the real world. Through the digitization of the food growing process we can not only monitor and document it, but we can improve and theorize on it. Leveraging a world wide community of like minded individuals we could easily allow self sustainability to be enacted in any part of the world.
	</div>
</div>