<div class="green card">
	<div class="image">
		<img src="{{root}}img/growbotix_icon.jpg">
	</div>
	<div class="content">
		<div class="header">Growbotix</div>
			<div class="meta">
				<a>Personal</a>
			</div>
			<div class="description">
				Making the world a better place through organic vegtable and fruit growing.
			</div>
	</div>
	<div class="extra content">
		An IoT based company that leverages open source hardware to interface, digitaly, with the real world. This real world to digital interface allows farms of all shapes and sizes to cut cost, and insure profits.
	</div>
</div>