<div class="blue card">
	<div class="image">
		<img src="{{root}}img/growbotix_icon.jpg">
	</div>
	<div class="content">
		<div class="header">Secure Development Polling Interface</div>
			<div class="meta">
				<a>Autodesk Related</a>
			</div>
			<div class="description">
				This interface polled various managers of app development to ensure secure development procedures were followed.
			</div>
	</div>
	<div class="extra content">
		Various questions are asked through a set of web forms to allow each type of manager to input data during product development. This gave an idea on possible future security concerns.
	</div>
</div>