<div class="blue card">
	<div class="image">
		<img src="{{root}}img/cloudsec-internal.jpg">
	</div>
	<div class="content">
		<div class="header">Internal Team Website</div>
			<div class="meta">
				<a>Autodesk Related</a>
			</div>
			<div class="description">
				After getting changed over to the cloud security team I built out a website that would help clear up confusion on cloud related issues within the companies employee base. This site also allowed for our team to reach back out to our users through blogs, news updates, and git repos.
			</div>
	</div>
	<div class="extra content">
		This website acts as a base point for the cloud security team of Autodesk to get information about themselves out to fellow employees. This allows us to ensure that any team running within our cloud is using the proper amazon AMIs for our tools to scan for security reports.
	</div>
</div>