<div class="blue card">
	<div class="image">
		<img src="{{root}}img/growbotix_icon.jpg">
	</div>
	<div class="content">
		<div class="header">Business Professionals of America Competition</div>
			<div class="meta">
				<a>Scholarships</a>
			</div>
			<div class="description">
				This was my first time having my code reviewed by people who work with websites on a daily basis. 
			</div>
	</div>
	<div class="extra content">
		Business Professionals of America is a national company which holds competitions for high school kids to compete and get experience of taking part in the various industries we were interested in. This gave me my first chance to write code and have it reviewed by people who look at code for a living.
	</div>
</div>