<div class="blue card">
	<div class="image">
		<img src="{{root}}img/digikey.png">
	</div>
	<div class="content">
		<div class="header">Digital Key Management App</div>
			<div class="meta">
				<a>Autodesk Related</a>
			</div>
			<div class="description">
				Built an app to act as an interface for an already built out code signing framework, helping to ensure security, stability, and longevity of the digital signing certificates used by Autodesk developers.
			</div>
	</div>
	<div class="extra content">
		This app helps to ensure the security of digital private key files. I felshed out features to both on-board new users, watch over signing jobs being done on the remote server, and provide an approval system for access to the signing system.
	</div>
</div>