<div class="blue card">
	<div class="image">
		<img src="{{root}}img/growbotix_icon.jpg">
	</div>
	<div class="content">
		<div class="header">Garry’s Mod Server Site</div>
			<div class="meta">
				<a>First Supported Users</a>
			</div>
			<div class="description">
				
			</div>
	</div>
	<div class="extra content">
		As a young man I played a video game with friends that required a lot of mods in order to get the most fun out of it. I built the website that we used to keep track of what mods we would want on our server.
	</div>
</div>