<div class="blue card">
	<div class="image">
		<img src="{{root}}img/ziptopia.jpg">
	</div>
	<div class="content">
		<div class="header">Ziptopia</div>
			<div class="meta">
				<a>Interview Related</a>
			</div>
			<div class="description">
				I am data mining an autonomous car simulation for my "12 week challenge" and I need your help!!!!
				<a href="/projects/ziptopia.html" class="ui animated fluid inverted blue fade button" tabindex="0">
					<div class="visible content">more info</div>
					<div class="hidden content">
						<i class="down arrow icon"></i>go to the page
					</div>
				</a>
			</div>
	</div>
	<div class="extra content">
		Taking a coding challenge a little too far in the interest of collecting too much data. As this is for a personal challenge I felt it neccessary to entertain one of my flaws: Getting in too deep. Come jump in the deep end with me and find out more by clicking above!!!!
	</div>
</div>