


<div id="projectslanding" class="ui grid">
	<div class="row">
		<div class="fourteen wide centered column">
			<div class="ui four cards">
				<div class="green card">
					<div class="image">
						<img src="{{root}}img/growbotix_icon.jpg">
					</div>
					<div class="content">
						<div class="header">Growbotix</div>
							<div class="meta">
								<a>Personal</a>
							</div>
							<div class="description">
								Making the world a better place through organic vegtable and fruit growing.
							</div>
					</div>
					<div class="extra content">
						An IoT based company that leverages open source hardware to interface, digitaly, with the real world. This real world to digital interface allows farms of all shapes and sizes to cut cost, and insure profits.
					</div>
				</div>

				<div class="blue card">
					<div class="image">
						<img src="{{root}}img/growbotix_icon.jpg">
					</div>
					<div class="content">
						<div class="header">Ziptopia</div>
							<div class="meta">
								<a>Interview Related</a>
							</div>
							<div class="description">
								Data Mining an autonomous car simulation.
								<a class="ui animated fluid inverted blue fade button" tabindex="0">
									<div class="visible content">more info</div>
									<div class="hidden content">
										<i class="down arrow icon"></i>Click or scroll down.
									</div>
								</a>
							</div>
					</div>
					<div class="extra content">
						Taking a coding challenge a little too far in the interest of collecting too much data. I want to see just how well I can handle millions of datapoints on my own.
					</div>
				</div>

				<div class="blue card">
					<div class="image">
						<img src="{{root}}img/growbotix_icon.jpg">
					</div>
					<div class="content">
						<div class="header">Battleship</div>
							<div class="meta">
								<a>Interview Related</a>
							</div>
							<div class="description">
								Creating battleship, as a web app.
							</div>
					</div>
					<div class="extra content">
						Turned in a challenge to create a simple version of battleship, and now I am building it out. This gives me the chance to work with web sockets.
					</div>
				</div>

				<div class="blue card">
					<div class="image">
						<img src="{{root}}img/growbotix_icon.jpg">
					</div>
					<div class="content">
						<div class="header">Internal Team Website</div>
							<div class="meta">
								<a>Autodesk Related</a>
							</div>
							<div class="description">
								Created the equivelant of a service marketing website for interla use amongst Autodesk.
							</div>
					</div>
					<div class="extra content">
						This website acts as a base point for the cloud security team of Autodesk to get information about themselves out to fellow employees.
					</div>
				</div>


				<div class="blue card">
					<div class="image">
						<img src="{{root}}img/growbotix_icon.jpg">
					</div>
					<div class="content">
						<div class="header">Digital Key Management App</div>
							<div class="meta">
								<a>Autodesk Related</a>
							</div>
							<div class="description">
								Built an app to act as an interface for an already built out code signing framework.
							</div>
					</div>
					<div class="extra content">
						This app helps to ensure the security of digital private key files. This app both on-boards new users and provides an approval system for access to the signing system.
					</div>
				</div>

				<div class="blue card">
					<div class="image">
						<img src="{{root}}img/growbotix_icon.jpg">
					</div>
					<div class="content">
						<div class="header">Secure Development Polling Interface</div>
							<div class="meta">
								<a>Autodesk Related</a>
							</div>
							<div class="description">
								This interface polled various managers of app development to ensure secure development procedures were followed.
							</div>
					</div>
					<div class="extra content">
						Various questions are asked through a set of web forms to allow each type of manager to input data during product development. This gave an idea on possible future security concerns.
					</div>
				</div>

				<div class="blue card">
					<div class="image">
						<img src="{{root}}img/growbotix_icon.jpg">
					</div>
					<div class="content">
						<div class="header">Secure Development Polling Interface</div>
							<div class="meta">
								<a>Autodesk Related</a>
							</div>
							<div class="description">
								This interface polled various managers of app development to ensure secure development procedures were followed.
							</div>
					</div>
					<div class="extra content">
						Various questions are asked through a set of web forms to allow each type of manager to input data during product development. This gave an idea on possible future security concerns.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<a class="ui animated bottom attached primary button" tabindex="0">
	<div class="visible content">I am currently </div>
	<div class="hidden content">
		<i class="right arrow icon"></i>
	</div>
</a>

