
<div id="menu" class="ui centered top attached menu">
	<a class="item">
		<i class="sidebar icon"></i>Menu
	</a>
</div>	


<div id="landing" class="ui grid">
	<div class="row">
		<div class="fourteen wide centered column">
			<div class="ui grid">
				<div class="five wide left column">
					<div class="ui vertical labeled icon buttons">
						<a id="projectsLink" class="ui huge red button" href="#projects"><i class="coffee icon"></i>Projects</a>
						<a id="resumeLink" class="ui huge orange button" href="#resume"><i class="calendar icon"></i>Resume</a>
						<a id="contactLink" class="ui huge green button" href="#contact"><i class="file word outline icon"></i>Contact</a>
						<a id="hobbiesLink" class="ui huge yellow button" href="#hobbies"><i class="space shuttle icon"></i>Hobbies</a>
					</div>
				</div>
				

				<div class="six wide left column">
					<div class="ui inverted segment">
						<a class="ui animated fluid inverted blue fade button" tabindex="0">
							<div class="visible content">AdamVisser::helloTitle()</div>
							<div class="hidden content">
								<i class="right arrow icon"></i>Welcome! Scroll down for more, or click here!
							</div>
						</a>
					</div>
				</div>
			</div>
				
		</div>
	</div>
</div>
<a class="ui animated bottom attached primary button" tabindex="0">
	<div class="visible content">I am currently </div>
	<div class="hidden content">
		<i class="right arrow icon"></i>
	</div>
</a>

