<h2 class="ui green centered header">Experience</h2>
			


<div class="ui stacked fluid segment">
	<table class="ui celled table">
		<thead>
			<tr>
				<th><h3 class="ui header">Cloud Security Tools Engineer</h3></th>
				<th>June 2015 - Present</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="ui green ribbon label">Autodesk</div>
				</td>
				<td>San Francisco, CA</td>
			</tr>
			<tr>
				<td colspan="2"><p>Leveraged Open Source frameworks to create reporting tools which helped inform the management team of possible areas of improvement. As I rapidly developed more than 4 apps within a year I gained more new skills at this job than I can list. I also have strongly honed in my goals as a developer since working with Autodesk</p></td>
			</tr>
		</tbody>
	</table>
</div>





<div class="ui stacked fluid segment">
	<table class="ui celled table">
		<thead>
			<tr>
				<th><h3 class="ui header">Co-Founder</h3></th>
				<th>December 2013 - Present</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="ui green ribbon label">GrowBotix</div>
				</td>
				<td>Chandler, AZ</td>
			</tr>
			<tr>
				<td colspan="2"><p>Designed an interface and api system which would allow for embedded hardware to create data to analyze and improve agricultural industries. This design is currently being turned into a prototype to gather feedback for bringing a community driven product to market. This will require our team to properly establish, and manage a community whilst still progressing on the digital assets that we need. When completed our product will vastly drop the barrier to entry for growing fruits and vegetables, as well as revolutionize Big Agriculture.</p></td>
			</tr>
		</tbody>
	</table>
</div>





<div class="ui stacked fluid segment">
	<table class="ui celled table">
		<thead>
			<tr>
				<th><h3 class="ui header">Network Operations Center Engineer</h3></th>
				<th>May 2014 - June 2015</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="ui green ribbon label">CWIE</div>
				</td>
				<td>Phoenix, AZ</td>
			</tr>
			<tr>
				<td colspan="2"><p>Started on the team as a data center floor technichian and quickly got promoted twice within the year. By the end of my time at CWIE I was helping to ensure the company websites stability, internal tools stability, and troubleshooting client infrastructures. In many cases our client's infrastructure had over 3000 active web sessions at any given moment which I helped to troubleshoot.</p></td>
			</tr>
		</tbody>
	</table>
</div>






<div class="ui stacked fluid segment">
	<table class="ui celled table">
		<thead>
			<tr>
				<th><h3 class="ui header">Full Stack Engineer</h3></th>
				<th>December 2013 - April 2014</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="ui green ribbon label">1099 Contract</div>
				</td>
				<td>Phoenix, AZ</td>
			</tr>
			<tr>
				<td colspan="2"><p>Located and secured contracts requiring major back end and minor front-end work. My skills as a full stack engineer were again increased by this job bringing SEO, contract management, and requirements gathering to the table.</p></td>
			</tr>
		</tbody>
	</table>
</div>





<div class="ui stacked fluid segment">
	<table class="ui celled table">
		<thead>
			<tr>
				<th><h3 class="ui header">Full Stack Engineer</h3></th>
				<th>Febuary 2012 - December 2013</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="ui green ribbon label">CookWheelWrightGroup</div>
				</td>
				<td>Chandler, AZ</td>
			</tr>
			<tr>
				<td colspan="2"><p>Aided in establishing brands for small businesses by building out emails, websites, and online assets. Responsive Design, WordPress Programming, JavaScript Programming, and System Administration being used on a daily basis established me as a full stack engineer.</p></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="ui stacked fluid segment">
	<table class="ui celled table">
		<thead>
			<tr>
				<th><h3 class="ui header">Blogger/Marketer</h3></th>
				<th>January 2011 - Febuary 2012</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="ui green ribbon label">University of Advancing Technology</div>
				</td>
				<td>Tempe, AZ</td>
			</tr>
			<tr>
				<td colspan="2"><p>Actively worked with possible students to help them decide if the University was the right fit for them or not. Daily tasks included talking to possible students online, giving tours of the campus, and writing a blog for possible students to read.</p></td>
			</tr>
		</tbody>
	</table>
</div>


<div class="ui stacked fluid segment">
	<table class="ui celled table">
		<thead>
			<tr>
				<th><h3 class="ui header">Full Stack Developer</h3></th>
				<th>November 2008 - January 2009</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="ui green ribbon label">Under the table Contract</div>
				</td>
				<td>North Muskegon, Michigan</td>
			</tr>
			<tr>
				<td colspan="2"><p>Created <a href="https://web.archive.org/web/20090320215240/http://www.iwanttogotonotredame.com/">http://www.iwanttogotonotredame.com/</a> to allow a friend to gather money for college supplies. As this was the first time taking money for my code, it was a very large deal. We also got hacked so I had to mitigate that.</p></td>
			</tr>
		</tbody>
	</table>
</div>
