<h2 class="ui orange centered header">Education</h2>
			


<div class="ui stacked fluid segment">
	<table class="ui celled table">
		<thead>
			<tr>
				<th><h3 class="ui header">Bachelors in Computer Science</h3></th>
				<th>Attended from 2009-2012</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="ui orange ribbon label">University Of Advancing Technology</div>
				</td>
				<td>Tempe, AZ</td>
			</tr>
			<tr>
				<td colspan="2"><p>Computer Science Degree that is 24 credits away from completion. Classes taken in Artificial Life Programming, Data Algorithms, and various programming languages.</p></td>
			</tr>
		</tbody>
	</table>
		<table class="ui celled table">
		<thead>
			<tr>
				<th><h3 class="ui header">High School Diploma</h3></th>
				<th>Attended from 2005-2009</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="ui orange ribbon label">North Muskegon Public High School</div>
				</td>
				<td>North Muskegon, MI</td>
			</tr>
			<tr>
				<td colspan="2"><p>High School classes which were also augmented with <a href="" target="_blank">career tech center classes.</a> These classes gave me the time I needed to teach myself my first programming languages before I had graduated.</p></td>
			</tr>
		</tbody>
	</table>
</div>