<div class="blue card">
	<div class="image">
		<img src="{{root}}img/uat-blog.jpg">
	</div>
	<div class="content">
		<div class="header">Blog For College</div>
			<div class="meta">
				<a>First Marketing Experience</a>
			</div>
			<div class="description">
				This was my first time writing a blog which had more than my parents and friends reading. It also gave me experience in the various ways a company can market itself.
			</div>
	</div>
	<div class="extra content">
		During my time in college I was a student ambassador who lead students around the building for tours. One of the job requirements was to write in a blog for future students to read. <a href="http://www.uat.edu/our_students/Meet_Adam.aspx">click here to view the blog.</a>
	</div>
</div>