<div class="blue card">
	<div class="image">
		<img src="{{root}}img/battleship.jpg">
	</div>
	<div class="content">
		<div class="header">Battleship</div>
			<div class="meta">
				<a>Interview Related</a>
			</div>
			<div class="description">
				Creating battleship, as a web app using Angular as the front end, and Tornado on the back end. This is currently being done as one part of a "12 Week Challenge" which I am a third of the way into.
			</div>
	</div>
	<div class="extra content">
		While searching for a new job I was given the challenge to program battleship as a web app. The challenge itself asked a lot less of me than what I am doing, but I saw this as a good chance to get deeper into web sockets. This idea also fueled a challenge with myself to see if I could gain as many new skills in three months of hard work, as I could in a year of contract work at Autodesk.
	</div>
</div>