<div class="blue card">
	<div class="image">
		<img src="{{root}}img/two-americans.jpg">
	</div>
	<div class="content">
		<div class="header">Two Americans</div>
			<div class="meta">
				<a>Client - Self Managed</a>
			</div>
			<div class="description">
				As I knew a lot of Videographers I soon got in contact with an independent film maker who needed a brand refresh.
			</div>
	</div>
	<div class="extra content">
		I built the site in wordpress and helped to create the brand image using Foundation. I also gave support for posting to various social media sites, and helping to improve the SEO of the site itself, as there was none before. <a href="http://www.twoamericans.com/">Click here to view the site.</a>
	</div>
</div>