<div class="blue card">
	<div class="image">
		<img src="{{root}}img/gmod.jpg">
	</div>
	<div class="content">
		<div class="header">Garry’s Mod Server Site</div>
			<div class="meta">
				<a>First Supported Users</a>
			</div>
			<div class="description">
				I built out a website which supported a community of 5 users, allowing us to sync files needed to work on a common game server.
			</div>
	</div>
	<div class="extra content">
		As a young man I played a video game with friends that required a lot of mods in order to get the most fun out of it. I built the website that we used to keep track of what mods we would want on our server. This allowed me to leverage skills in database management for the first time.
	</div>
</div>