<div class="blue card">
	<div class="image">
		<img src="{{root}}img/notredame.jpg">
	</div>
	<div class="content">
		<div class="header">Iwanttogotonotredame.com</div>
			<div class="meta">
				<a>First Client</a>
			</div>
			<div class="description">
				As a young man I managed to create a site <a href="http://www.wilx.com/home/headlines/41316592.html">which made it on the local news</a>, and this amount of attention soon led to our hack. This was my start as a professional, and the website was horrible.
			</div>
	</div>
	<div class="extra content">
		A friend of mine had the idea to request donations in order to help pay for school. I built the website that was used to tell her story and collect these donations. I had no idea what I was doing and had to teach myself the solutions to every step of the way.
	</div>
</div>