<table class="ui celled table">
	<thead>
		<tr>
			<th><h3 class="ui header">Programming Languages</h3></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<div class="ui blue ribbon label">PHP</div><div class="ui star rating right" data-rating="9"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="ui blue ribbon label">Python</div><div class="ui star rating right" data-rating="8"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="ui yellow ribbon label">HTML</div><div class="ui star rating right" data-rating="7"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="ui yellow ribbon label">CSS</div><div class="ui star rating right" data-rating="6"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="ui yellow ribbon label">Javascript</div><div class="ui star rating right" data-rating="8"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="ui green ribbon label">Java</div><div class="ui star rating right" data-rating="4"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="ui green ribbon label">Ruby</div><div class="ui star rating right" data-rating="2"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="ui teal ribbon label">C/C++</div><div class="ui star rating right" data-rating="6"></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="ui teal ribbon label">C#</div><div class="ui star rating right" data-rating="4"></div>
			</td>
		</tr>
		
		<tr>
			<td>
				<div class="ui teal ribbon label">LUA</div><div class="ui star rating right" data-rating="3"></div>
			</td>
		</tr>
	</tbody>
</table>