{% extends "personal/header.html" %}


{% block content %}
<div id="hobbieslanding" class="ui grid">
	<div class="row">
		<div class="five wide centered column">
			<div class="ui fluid card">
				<div class="content">
					<h1 class="ui centered huge header">Adam Visser's Hobbies</h1>
				</div>
				<div class="image">
					<img src="{{root}}img/Adam_Visser_Playing_Games.jpg">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="ui grid">
	<div class="row">
		<div class="eight wide centered column">
			<img class="ui fluid image" src="{{root}}img/Adam_Visser_Wining_Awards.jpg">
			<h2 class="ui header">There is a very good chance I spend too much of my free time doing tech things...</h2>
			<p>
				As it stands right now trying to get an idea to change the world going. Changing the world drives me to do a lot of what I do, even if the world being changed is just one persons world. I always like to say I will program anything if it makes a difference.
			</p>

			<div class="ui divider"></div>
			<p>When I am not trying to change the world there is a really good chance that I am playing with something that has wheels. In many cases when I have free time I will either build out one of the multitude of electric skateboards I have, or I will be working on my jeep.</p>
			<p>My electric skateboard has some really large wheels, gears, pulleys, and a lot of random RC car/airplane parts all slapped on it. This combination of parts on a longboard allows me to travel from A, to the bart, to B. More often than not its how I get to work, and how I get into the most trouble.</p>
			<p>When I am not using electricity to power me around I have a crazy old jeep that I am trying to "restomod". My hope is that since it is so old, and everything needs to be replaced, it is a perfect starting point to make my own form of jeep. It also has a very large American V8 in it, so thats great for burning some dead dinosaurs.</p>
		</div>
		
		<div class="four wide right floated column">
			<img class="ui fluid image" src="{{root}}img/e-board.jpg">
		</div>
	</div>
</div>
{% endblock %}